services:
  # --- フロントエンド ---
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

  # --- バックエンド ---
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - WATCHPACK_POLLING=true

  # --- SQL ---
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: my_page
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports: 
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql