*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
}
.center{
    /* border:solid 2px red; */
    position: relative;
    width: 300px;
    height: 100px;
    border-radius: 16px;
    overflow: hidden;
}
.center::before{
    content: "";
    position: absolute;
    inset: -2px;
    background: conic-gradient(
            from 0deg,
            transparent 0deg,
            #9730f7 90deg,
            #d946ef 180deg,
            #9730f7 270deg,
            transparent 360deg
        );
        animation: spin 3s linear infinite;
}
.center::after{
    content: "";
    position: absolute;
    inset: 2px;
    background: #0b0b12;
    border-radius: 12px;
    z-index: 1;
}
ul{
    width: 250px;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    font-family:sans-serif;
    gap: 20px;
    list-style: none;
}
@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}
a{
    color: #c084fc;
    text-decoration: none;
    font-weight: 600;
}
