*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}
.frame{
    /* border: 2px solid red; */
    border-radius: 15px;
    height: 50vh;
    padding: 100px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    gap: 64px;
}

.frame2{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.flex{
    display: flex;
    gap: 8px;
}
h1{
    color: violet;
}
h3{
    color: violet;
}
p{
    color: violet;
}